.login-logo{
    height:45px;
    width: 45px;
}
.logo{
    border-radius: 20px;
    height: 40px;
    width: 40px;
}
.login{
    color: rgb(198,93,30) ;
    background-color:black ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 30vw;
}
#description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color:rgb(198,93,30);
    height: 70vh;
    width: 50vw;
    padding-left: 30px;
    

}
#greetings{
    font-size: 40px;
font-family: "Poppins", sans-serif;
font-weight: 700;
 font-style: normal;
    margin-top: -30px;
}
#intro{
    font-size: 20px;
    margin-top: -40px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
    
}
.login_form{
    font-size: 15px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    row-gap: 20px;
}
#lform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 6px;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
#login_button{
    background-color: rgb(198,93,30);
    color: rgb(6, 5, 6);
    border-radius: 50px;
    margin-left: 60px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
   
}
#signup-link{
     font-size: 15px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
#forgot-passwordLink{
     font-size: 15px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
#links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;  
}
a{
    color: rgb(240, 236, 236);
    text-decoration: none;
  
}
a:hover{
    color: rgb(198,93,30);
}
